.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin-left: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 30px;
  color: #fff;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.backgroundImg {
  background-size: cover; 
  height: 550px;
  background-image: url(../img/background.jpeg);
}

.search-form {
  width: 80%;
  border: 2px solid rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.2);
  border-radius: 55px;
  padding: 15px 0px 0;
  padding-left: 75px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px auto 0;
  box-shadow: 0px 10px 5px rgba(0,0,0,0.5);
}

.search-form .search-row {
  margin-bottom: 15px;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
}

.content-row .home-card {
  margin: 0 25px 30px;
  width: 273px;
}

.search-form .ant-form-inline .ant-form-item {
  margin-bottom: 15px;
}

@media screen and (max-width: 400px) {
  .search-form {
    padding-left: 45px;
  }

  .content-row {
    flex-wrap: wrap;
  }
}