@import url('./Login.css');
@import url('./Home.css');
@import url('./Register.css');
@import url('./ListingCreated.css');
@import url('./ListingEdit.css');
@import url('./Booking.css');
@import url('./BookingRequestCheckForUser.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
