.register-title {
  margin-top: 10px;
  font-size: 36px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.register-wrapper {
  margin: 0 auto;
  width: 30%;
}

.register .register-input {
  margin-bottom: 10px;
}

.register .register-button {
  margin: 10px 0px;
  float: right;
}

@media screen and (max-width: 400px) {
  .register-wrapper {
    margin: 0 auto;
    width: 50%;
  }
}